# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# log

# eclipse ignore
.settings/
.project
.classpath
.externalToolBuilders
bin/
.factorypath
.springBeans
.metadata
.recommenders

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.log.gz
*.gz
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

#ios
.apt_generated/
